/** @format */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: 100dvh;
	background-color: #18181b;
	color: #f4f4f5;
	font-family: sans-serif;
	font-size: 0.875rem;
	line-height: 1.25rem;
}

a {
	color: #3b82f6;
	text-decoration: none;
	cursor: pointer;
	transition: 0.5s;
}

a:hover {
	color: #60a5fa;
}

#wrapper {
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#container {
	margin: 0 auto;
	width: 100%;
	max-width: 1024px;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	align-items: center;
}

.column {
	padding: 1rem;
	width: 100%;
	height: 100%;
	margin: 1rem;
	display: flex;
	flex-grow: 1;
}

.left {
	display: none;
}

.login-panel {
	width: 100%;
	max-width: 440px;
	padding: 1.5rem;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #27272a;
	border: 1px #3f3f46 solid;
	border-radius: 0.25rem;
}

.logo-img {
	width: 200px;
	filter: invert(1);
}

.login-panel form {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.875rem;
	width: 100%;
}

input {
	padding: 0.75rem 0.875rem;
	width: 100%;
	max-width: 320px;
	background-color: #e4e4e7;
	color: #18181b;
}

input:focus {
	outline: none;
	border: 1px solid #3f3f46;
}

input[type='submit'] {
	background-color: #3b82f6;
	border-color: #60a5fa;
	color: #f4f4f5;
	font-weight: bold;
	cursor: pointer;
	transition: 0.5s;
}

input[type='submit']:hover {
	background-color: #60a5fa;
}

footer {
	padding: 1rem;
	width: 100%;
	text-align: center;
	opacity: 0.7;
}

@media only screen and (min-width: 959px) {
	#container {
		flex-direction: row;
	}

	.column {
		width: 50%;
	}

	.left {
		width: 50%;
		height: 640px;
		display: flex;
		background-image: url('./assets/main-foto.png');
		background-size: auto 100%;
		background-repeat: no-repeat;
		background-position: center;
	}
}
